<style>

  body {
    background-color:   rgba(229,229,229, .3);
    margin-left: 10px;
    }

  .header img {
      width: 1450px;
      height: 70px;
      color: black;
      display: inline-block;
      position: right;
      }

  h1 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 100px;
    margin-top: 0px;
    }

  .form {
    width: 220px;
    padding: 5px;
    background-color: #3B3B3D;
    display: flex;
    border-radius: 18px 18px 18px 18px
    }

  input {
    display: flex;
    flex: 1;
    padding: 10px 15px;
    border-radius: 15px 15px 15px 15px;
    outline: none;
    border: none;
    }

    .dropdown {
      left: 5px;
      top: 10px;
      float: right;
    }

    h2, h3 {
      font-family: 'Permanent Marker', cursive;
      background-color: teal;
      font-size: 30px;
      width: inherit;
      text-align: center;
    }

    .container {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
    }

    .col-lg-4 {
      flex: 1;
      color: white;
    }

    img {
      max-width: 100%;
    }

    .footer {
      text-align: center;
    }

  /* h3 {
    font-family: 'Permanent Marker', cursive;
    background-color: teal;
  } */


</style>
